{% extends 'base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <section class="category2781">
      {% for question in questions %}
        {% for answer in question.answer.all %}
        
      <div class="question-type2033">
        <div class="row">
          <div class="col-md-1">
            <div class="left-user12923 left-user12923-repeat">
              <a href="#"><img src="{{answer.image.url}}" alt="image" /> </a>
              <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="right-description893">
              <div id="que-hedder2983">
                <h3>
                  <a href="post-deatils.html" target="_blank">
                    {{answer.question.question}}</a
                  >
                </h3>
                <div class="ques-details10018">
                    <p>{{answer.answer}}</p>
                </div>
              </div>
              <hr />
              <div class="ques-icon-info3293">
                <a href="{% url 'Answer' question_id=answer.question_id %}"
                  ><i class="fa fa-folder" aria-hidden="true"> Answer</i></a
                >
                <a href="#"
                  ><i class="fa fa-folder" aria-hidden="true">
                    {{answer.author}}</i
                  ></a
                >
  
                <span
                  ><i class="fa fa-clock-o" aria-hidden="true">
                    {{answer.date}}</i
                  >
                </span>
                {% if request.user.is_authenticated %}
                <button
                  type="submit"
                  name="answer_upvote"
                  value="{{answer.id}}"
                >
                  <i class="fa fa-skyblue" aria-hidden="true">
                    {{answer.upvote}}upvote</i
                  >
                </button>
                <button
                  type="submit"
                  name="answer_downvote"
                  value="{{answer.id}}"
                >
                  <i class="fa fa-skyblue" aria-hidden="true">
                    {{answer.downvote}}downvote</i
                  >
                </button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      {% endfor %}
    </section>
  </form>

{% endblock content %}


